{% extends 'pedidos/index.html'%}
{%block accion%}
Manuales
{%endblock accion%}
{%block content%}
    <style>
    hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
    </style>
<center>
    <div class="card" style="width: 50rem;">
        <iframe  class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/bBTo3ZORMjQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Descargar App</h3>
        <p class="card-text">El video esta dirigia a vendedores, los cuales deberan hacer uso de la aplicación.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t5gR790IM90?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Crear Ordenes y uso de aplicación <strong>Vendedores</strong> </h3>
        <p class="card-text">Los Usuarios vendedores podran utilizar la aplicación para gestionar ordenes.</p>
      </div>
    </div>

      <hr>
    <br>
    <div class="card" style="width: 50rem;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EfacN6m0qNs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Flujo Completo de cada proceso</h3>
        <p class="card-text">En el video se muestra el flujo de comunicacion en el sistema por cada departamento.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/KpZJY3On5-I?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Validar Ordenes</h3>
        <p class="card-text">El validador coteja en el portal bancario de Nacional Ferretera de Hidalgo que todos los pagos anticipados esten efectuados.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
<iframe class="card-img-top" width="560" height="315" src="https://www.youtube.com/embed/aEU6DbS_hyg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Surtir Mercancia</h3>
        <p class="card-text">El usuario encargado de generar el embarque, debe cambiar el de las ordenes aprobadas.</p>
      </div>
    </div>


    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y5ya5g13BqY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Aprobar una Orden</h3>
        <p class="card-text">El administrador de sistema, tiene el rol de aprobar la orden.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XzV1tHMTX3I?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Gestionar Clientes Cajeros.</h3>
        <p class="card-text">Los usuarios cajeros podran gestionar los clientes.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_4xEixjcSww?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Panel de usuario administrador</h3>
        <p class="card-text">El administrador de sistema, puede operar acciones importantes como lo son: Aprobar ordenes, gestionar clientes y registrar usuarios nuevos en el sistema.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EF2GgV0xkGk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Subir Productos al Catalogo</h3>
        <p class="card-text">El administrador del sistema, puede  cargar los productos al catalogo y podra administrar cada uno de los productos que estan vigentes.</p>
      </div>
    </div>

    <hr>
    <br>
    <div class="card" style="width: 50rem;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NJBBq_DwzeA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="card-body">
        <h3 class="card-title">Panel de Superusuario administrador general</h3>
        <p class="card-text">El superusuario de sistema, puede operar acciones importantes importar tarifas,importar clientes y en general puede modificar los apectos indispensables del sistema.</p>
      </div>
    </div>
</center>
{%endblock content%}