{% load staticfiles %}

    <!-- jQuery -->
    <script src="{% static 'pedidos/vendor/jquery/jquery-3.2.1.min.js'  %} "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'pedidos/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'pedidos/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'pedidos/dist/js/sb-admin-2.js'%}"></script>
    <script src="{% static 'pedidos/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'pedidos/datatables/dataTables.select.min.js'%}"></script>
    <script src="{% static 'pedidos/datatables/dataTables.bootstrap4.js'%}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
