{% extends 'pedidos/index.html'%}


{%block panelcontrol%}
<div class="row">
    <div class="col-md-12 d-flex flex-row justify-content-center">
        <h3 class="mb-3">PANEL VALIDADOR</h3>
    </div>

</div>
{%endblock panelcontrol%}


{%block accion%}
 Ordenes
{%endblock accion%}

{%block content%}
<div>
       <center><h2>Tus Ordenes Pendientes de Validar</h2></center>
<ul>

{% load humanize %}

                <table class="table table-hover table-bordered table-responsive" id="Tablependientes">
                    <thead>
                          <tr>
                              <th>Fecha</th>
                            <th>Detalle<br> Nº Ordern</th>
                            <th>Cliente</th>
                              <th>Forma de Pago</th>
                              <th>Status</th>
                              <th>Vendedor</th>
                              <th>Total</th>
                              <th>Revisar para validar</th>
                          </tr>
                          </thead>
                          <tbody>
                          {%for obj in ordenes%}
                          <tr>
                              <td>{{obj.fechageneracion}}</td>
                            <td><center><a href="{%url 'pedidos:verdetalle' obj.id%}">{{obj.numerodeorden}}</a><br><a href="{{obj.get_absolute_url}}" target="_blank"><i class="fas fa-file-pdf fa-4x"></i></a></td>
                            <td>( id: <strong>{{obj.cliente.CODIGO}}</strong> ) {{obj.cliente}}</center></td>
                              <td>{{obj.tipoorden}}</td>
                            <td>
                            {% if "g" in obj.status%}

                            <span class="btn btn-primary">GENERADA</span>
                            {% elif "a" in obj.status %}
                            <span class="btn btn-warning">APROBADA</span>
                            {% elif "c" in obj.status %}
                            <span class="btn btn-danger">CANCELADA</span>
                            {% elif "e" in obj.status %}
                            <span class="btn btn-info">REIMPRESA</span>
                            {% elif "s" in obj.status %}
                            <span class="btn btn-success"> SURTIDA </span>
                            </td>
                              {% elif "v" in obj.status %}
                            <span class="btn btn-success"> VALIDADA </span>

                               {% elif "i" in obj.status %}
                            <span class="btn btn-warning"> SURTIDA INCOMPLETO</span>
                            {%endif%}
                            </td>

                              <td>{{ obj.vendedor}}</td>
                              <td>{{obj.total|floatformat:2|intcomma}}</td>
                              <td><a href="{%url 'pedidos:validar' obj.id%}"><i class="fas fa-check-square fa-4x"></i></a></td>
                          </tr>
                          {%endfor%}
                      </tbody>
                </table>

</ul>
</div>




<div>
       <center><h2>Ordenes validadas</h2></center>
<ul>



                <table class="table table-hover table-bordered table-responsive" id="Tablevalidadas">
                    <thead>
                          <tr>
                              <th>Fecha</th>
                            <th>Detalle<br> Nº Ordern</th>
                            <th>Cliente</th>
                              <th>Forma de Pago</th>
                              <th>Status</th>
                              <th>Vendedor</th>
                              <th>Total</th>

                          </tr>
                          </thead>
                          <tbody>
                          {%for obj in ordenes_validadas%}
                          <tr>
                              <td>{{obj.fechageneracion}}</td>
                            <td><center><a href="{%url 'pedidos:verdetalle' obj.id%}">{{obj.numerodeorden}}</a><br><a href="{{obj.get_absolute_url}}" target="_blank"><i class="fas fa-file-pdf fa-4x"></i></a></td>
                            <td>( id: <strong>{{obj.cliente.CODIGO}}</strong> ) {{obj.cliente}}</center></td>
                              <td>{{obj.tipoorden}}</td>
                            <td>
                            {% if "g" in obj.status%}

                            <span class="btn btn-primary">GENERADA</span>
                            {% elif "a" in obj.status %}
                            <span class="btn btn-warning">APROBADA</span>
                            {% elif "c" in obj.status %}
                            <span class="btn btn-danger">CANCELADA</span>
                            {% elif "e" in obj.status %}
                            <span class="btn btn-info">REIMPRESA</span>
                            {% elif "s" in obj.status %}
                            <span class="btn btn-success"> SURTIDA </span>
                            </td>
                              {% elif "i" in obj.status %}
                            <span class="btn btn-warning"> SURTIDA INCOMPLETO</span>
                              {% elif "v" in obj.status %}
                            <span class="btn btn-success"> VALIDADA </span>
                            {%endif%}
                            </td>



                              <td>{{ obj.vendedor}}</td>
                              <td>{{obj.total|floatformat:2|intcomma}}</td>

                          </tr>
                          {%endfor%}
                      </tbody>
                </table>

</ul>
</div>

<div>
       <center><h2>Ordenes (Contado Anticipado) Surtidas</h2></center>
<ul>



                <table class="table table-hover table-bordered table-responsive" id="Tablevalidadas">
                    <thead>
                          <tr>
                              <th>Fecha</th>
                            <th>Detalle<br> Nº Ordern</th>
                            <th>Cliente</th>
                              <th>Forma de Pago</th>
                              <th>Status</th>
                              <th>Vendedor</th>
                              <th>Total</th>

                          </tr>
                          </thead>
                          <tbody>
                          {%for obj in ordenes_surtidas%}
                          <tr>
                              <td>{{obj.fechageneracion}}</td>
                            <td><center><a href="{%url 'pedidos:verdetalle' obj.id%}">{{obj.numerodeorden}}</a><br><a href="{{obj.get_absolute_url}}" target="_blank"><i class="fas fa-file-pdf fa-4x"></i></a></td>
                            <td>( id: <strong>{{obj.cliente.CODIGO}}</strong> ) {{obj.cliente}}</center></td>
                              <td>{{obj.tipoorden}}</td>
                            <td>
                            {% if "g" in obj.status%}

                            <span class="btn btn-primary">GENERADA</span>
                            {% elif "a" in obj.status %}
                            <span class="btn btn-warning">APROBADA</span>
                            {% elif "c" in obj.status %}
                            <span class="btn btn-danger">CANCELADA</span>
                            {% elif "e" in obj.status %}
                            <span class="btn btn-info">REIMPRESA</span>
                            {% elif "s" in obj.status %}
                            <span class="btn btn-success"> SURTIDA </span>
                                {% elif "i" in obj.status %}
                             <span class="btn btn-warning"> SURTIDA INCOMPLETO</span>
                              {% elif "v" in obj.status %}
                            <span class="btn btn-success"> VALIDADA </span>
                            {%endif%}
                            </td>



                              <td>{{ obj.vendedor}}</td>
                              <td>{{obj.total|floatformat:2|intcomma}}</td>

                          </tr>
                          {%endfor%}
                      </tbody>
                </table>

</ul>
</div>



{%endblock content%}


{%block table%}

{%endblock table%}


{% block javascript%}

 <script type="text/javascript">
            $('#Tablependientes').DataTable( {
            "scrollX": true,
            "info":     false,
            "language": {
           "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
            } );

             $('#Tablevalidadas').DataTable( {
            "scrollX": true,
            "info":     false,
            "language": {
           "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
            } );



        </script>


{% endblock javascript %}
